<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>
                <style>
                    .grouptd {
                        position: relative;
                    }

                    .group {
                        display: inline-block;
                        width: 100%;
                    }

                    .groupselect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                </style>
                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="space-4"></div>
                        <div class="row">
                            <form id="form" method="post" action="{:U('del')}">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <th>USER_ID</th>
                                        <th>用户昵称</th>
                                        <th>计算中刷卡总额</th>
                                        <th>库中刷卡总额</th>
                                        <th>库中刷卡返现余额</th>
                                        <th>库中刷卡返现是否与计算匹配</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <volist name="list" id="val">
                                        <tr>
                                            <td class="center">
                                                {$val['member_id']}
                                            </td>
                                            <td>{$val['nickname']}</td>
                                            <td class="grouptd">{$val['real_amount']}</td>
                                            <td class="grouptd">{$val['trade_amount']}</td>
                                            <td class="grouptd">{$val['trade_cash']}</td>
                                            <td class="grouptd">{$val['ispayTrouble']}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </form>

                            {$page}
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {

    })
</script>

</body>
</html>
