<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-content">
        <div class="main-content-inner">

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form" action="/User/check" method="post">


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 用户姓名 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['member_name']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>


                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 性别 </label>
                                <div class="col-sm-9">
                                    <select id="sex" class="multiselect" disabled>
                                        <option value="0"
                                        <if condition="$member['sex'] eq 0">selected="selected"</if>
                                        >保密</option>
                                        <option value="1"
                                        <if condition="$member['sex'] eq 1">selected="selected"</if>
                                        >男</option>
                                        <option value="2"
                                        <if condition="$member['sex'] eq 2">selected="selected"</if>
                                        >女</option>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 年龄 </label>
                                <div class="col-sm-9">
                                    <input type="text"  class="col-xs-10 col-sm-5" value="{$member['age']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 手机号 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['phone']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 手机号服务密码 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['phone']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 身份证号 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['idcard_num']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 身份证正面 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5"><img src="{$member['idcard_front']}" style="width: 120px;" /></div>

                                </div>

                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 身份证反面 </label>
                                <div class="col-sm-9">
                                    <div class="col-xs-10 col-sm-5"><img src="{$member['idcard_back']}" style="width: 120px;" /></div>

                                </div>

                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6">  毕业学校</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['graduated_school']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6">  毕业时间</label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['graduated_time']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6">  学历</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['education']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>


                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 公司名称 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['company_name']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 公司地址 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="电话号码"
                                           class="col-xs-10 col-sm-5" value="{$member['company_address']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 亲属电话 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder=""
                                           class="col-xs-10 col-sm-5" value="{$member['kinsfolk_phone']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 朋友电话 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder=""
                                           class="col-xs-10 col-sm-5" value="{$member['friend_phone']}" readonly>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
                                </div>
                            </div>

                            <input  name="id" value="{$member['member_id']}" type="hidden" />


                            <div class="space-4"></div>

                            <div class="col-md-offset-2 col-md-9">
                                <a class="btn btn-info" type="submit" href="/user/check?type=1&id={$member['member_id']}">
                                    <i class="icon-ok bigger-110"></i>
                                    审核通过
                                </a>

                                &nbsp; &nbsp; &nbsp;
                                <a class="btn" type="reset" href="/user/check?type=2&id={$member['member_id']}">
                                    <i class="icon-undo bigger-110"></i>
                                    不通过
                                </a>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#birthday').datepicker({
            format: 'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true,
            todayBtn: 'linked',
            language: 'cn'
        });
    });

</script>
</body>
</html>

