<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-content">
        <div class="main-content-inner">
           <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <style>
                    .grouptd {
                        position: relative;
                    }

                    .group {
                        display: inline-block;
                        width: 100%;
                    }

                    .groupselect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                </style>
                <!-- /section:settings.box -->
                <div class="space-4"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <form class="form-inline" action="" method="get">
                                <!--<a class="btn btn-info" href="{:U('add')}" value="">新增</a>-->
                                <label class="inline">用户搜索</label>
                                <select name="field" class="form-control">
                                    <option <if condition="I('field') eq user">selected</if> value="user">用户姓名</option>
                                    <option <if condition="I('field') eq phone">selected</if> value="phone">电话</option>
                                </select>
                                <input type="text" name="keyword" value="{:I(keyword)}" class="form-control">

                                <button type="submit" class="btn btn-purple btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    搜索
                                </button>
                            </form>
                        </div>
                        <div class="space-4"></div>
                        <div class="row">
                            <form id="form" method="post" action="{:U('del')}">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <th>用户昵称</th>
                                        <th>手机号</th>
                                        <th>所属上级</th>
                                        <th>总刷卡返现金额</th>
                                        <th>剩余可提现金额</th>
                                        <th class="center">本次申请提现金额</th>
                                        <th class="center">手续费费率</th>
                                        <th>到账金额</th>
                                        <th>手续费</th>
                                        <th>当前状态</th>
                                        <th>申请时间</th>
                                        <?php if(!isset($user['parent_id'])){?>
                                        <th class="center">操作</th>
                                        <?php }?>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <volist name="list" id="val">
                                        <tr>
                                            <td class="center">
                                                {$val['nickname']}
                                            </td>
                                            <td>{$val['phone']}</td>
                                            <td>{$val['agentinfo']}</td>
                                            <td class="grouptd">{$val['total_balance']}</td>
                                            <td class="grouptd">{$val['trade_cash']}</td>
                                            <td class="grouptd">{$val['amount']}</td>
                                            <td class="center">{$val['fee']}</td>
                                            <td class="center">{$val['account_amount']}</td>
                                            <td>{$val['fee_amount']}</td>
                                            <td class="status_info">{$val['status_info']}</td>
                                            <td class="center"><?php echo date('Y-m-d H:i:s',$val['create_time']);?></td>
                                            <?php if(!isset($user['parent_id'])){?>
                                            <td class="center">
                                                <select name="status" class="center chose_status">
                                                    <option value="">请操作</option>
                                                    <option value="0">待审核</option>
                                                    <option value="1">已通过,未付款</option>
                                                    <option value="2">未通过,未付款</option>
                                                    <option value="3">已通过,已付款</option>
                                                </select>

                                                <input type="hidden" class="id" value="<?php echo $val['id']?>" data-name="user">
                                            </td>

                                            <?php }?>

                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </form>

                            {$page}
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $(".group").click(function () {
            $(this).addClass('hide');
            $(this).parent().find(".groupselect").removeClass('hide');
        })
        $(".groupselect").on("change", function () {
            var ob = $(this);
            var gid = ob.val();
            var uid = ob.parent().find('.group').attr('val');
            $.get("{:U('update')}?ajax=yes&uid=" + uid + "&gid=" + gid, function (data) {
                var text = ob.find("option:selected").text();
                ob.parent().find(".group").removeClass('hide').html(text);
                ob.addClass('hide');
            });
        })

        $(".check-all").click(function () {
            $(".uids").prop("checked", this.checked);
        });
        $(".uids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
        $("#submit").click(function () {
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除所选用户？",
                callback: function (result) {
                    if (result) {
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
        $(".del").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除该用户?",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
    })
    $(".chose_status").on("change", function () {
        var ob = $(this);
        var status = ob.val();
       var id = ob.siblings('.id').val();

        $.get("{:U('updateStatus')}?ajax=yes&id=" + id + "&status=" + status, function (data) {
                //200状态说明回调Ajax成功
                if(data.code == 200)
                {
                    var htmls = ob.parents().siblings('.status_info').html('');
                    var status_info = data.status_info;
                    htmls.html(status_info);
                }else{
                    bootbox.confirm({
                        title: "提示",
                        message: data['msg'],
                        callback: function (result) {
                        },
                        buttons: {
                            "cancel": {"label": "取消"},
                            "confirm": {
                                "label": "确定",
//                                "className": "btn-danger"
                            }
                        }
                    });
                }
        });
    })
</script>

</body>
</html>
