<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">

        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-content">
        <div class="main-content-inner">

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <style>
                    .grouptd {
                        position: relative;
                    }

                    .group {
                        display: inline-block;
                        width: 100%;
                    }

                    .groupselect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                </style>
                <!-- /section:settings.box -->
                <div class="space-4"></div>
                    <?php if(!isset($user['parent_id'])): ?>
                    <form class="form-inline" action="/user/importExcel" method="POST" enctype="multipart/form-data">
                        <!--<a class="btn btn-info" href="{:U('add')}" value="">新增</a>-->
                        导入品牌&nbsp;&nbsp;&nbsp;<select name="fac"  class="multiselect">
                            {$pos_brand}
                        </select>
                        <div class="space-4"></div>
                        <input type="file" name="excel"  style="width: 200px;" />
                        <div class="space-4"></div>
                        <button type="submit" class=" " >
                            <span class="bigger-110" ></span>
                            提交
                        </button>
                    </form>
                    <?php endif; ?>

                    <div class="space-4"></div>
                    <input type="hidden" name="beginTime" id="beginTime" value="" />
                    <input type="hidden" name="endTime" id="endTime" value="" />

                    筛选条件&nbsp;&nbsp;&nbsp;
                    <select name="where" id="where" class="multiselect">
                        <option value="0">请选择</option>
                        <option value="1">按品牌</option>
                        <option value="2">按设备</option>
                        <option value="3">按昵称</option>
                        <option value="4">按联系方式</option>
                        <option value="5">按刷卡金额</option>
                        <option value="6">按返现金额</option>
                        <option value="7">按验证结果</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;
                    查询内容
                    <input type="text" placeholder="请输入查询内容"  value="" name="conditions" id ="conditions"/>
                    <button id="search">查询</button>
                    <br/>  <br/>
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="importRecords">
                        <thead id="import_records_data_table_thead">
                        <tr>
                            <th class="center">微信昵称</th>
                            <th class="center">联系号码</th>
                            <th class="center">授权用户品牌</th>
                            <th class="center">授权用户SN设备号</th>
                            <th class="center">刷卡金额</th>
                            <th class="center">手续费</th>
                            <th class="center">返现金额</th>
                            <th class="center">支付时间</th>
                           <?php if(!isset($user['parent_id'])): ?>
                            <th class="center">验证</th>
                            <?php endif; ?>
                            <th class="center">验证结果</th>
                            <th class="center">验证反馈</th></tr>
                        </thead>
                        <tbody id="import_records_data_table_tbody">

                        </tbody>

                    </table>


                    <!-- Modal -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    var table;
    var start_date;
    var start_end ;
    var where;
    $(function () {
        GetImportRecords('all','0','');
        $(".group").click(function () {
            $(this).addClass('hide');
            $(this).parent().find(".groupselect").removeClass('hide');
        })
        $(".groupselect").on("change", function () {
            var ob = $(this);
            var gid = ob.val();
            var uid = ob.parent().find('.group').attr('val');
            $.get("{:U('update')}?ajax=yes&uid=" + uid + "&gid=" + gid, function (data) {
                var text = ob.find("option:selected").text();
                ob.parent().find(".group").removeClass('hide').html(text);
                ob.addClass('hide');
            });
        })

        $(".check-all").click(function () {
            $(".uids").prop("checked", this.checked);
        });
        $(".uids").click(function () {
            var option = $(".ids");
            option.each(function (i) {
                if (!this.checked) {
                    $(".check-all").prop("checked", false);
                    return false;
                } else {
                    $(".check-all").prop("checked", true);
                }
            });
        });
        $("#submit").click(function () {
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除所选用户？",
                callback: function (result) {
                    if (result) {
                        $("#form").submit();
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
        $(".del").click(function () {
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "是否要删除该用户?",
                callback: function (result) {
                    if (result) {
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel": {"label": "取消"},
                    "confirm": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
        });
    })

//    function GetImportRecords(date){
//        if ($('#importRecords').hasClass('dataTable')) {
//            table = $('#importRecords').dataTable();
//            table.fnClearTable(); //清空一下table
//            table.fnDestroy(); //还原初始化了的datatable
//        }
//        $.ajax({
//            //提交数据的类型 POST GET
//            type:"post",
//            //提交的网址
//            url:"{:U('ImportRecords')}",
//            data:{date:date},
//            //提交的数据
//            //返回数据格式
//            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
//            //在请求之前调用的函数
//            beforeSend:function(){$("#msg").html("logining");},
//            //成功返回之后调用的函数
//            success:function(data){
//                //初始化内容
//                $("#import_records_data_table_tbody").html('');
//                $("#import_records_data_table_thead").html('');
//                var title = '';
//                title += '<tr><th class="center">微信昵称</th><th class="center">联系号码</th><th class="center">授权用户品牌</th><th class="center">授权用户SN设备号</th><th class="center">刷卡金额</th><th class="center">手续费</th><th class="center">返现金额</th><th class="center">支付时间</th>'
//                      +'<?php if(!isset($user['parent_id'])): ?><th class="center">验证</th><?php endif; ?><th class="center">验证结果</th><th class="center">验证反馈</th></tr>'
//                if(data.code == 200)
//                {
//
//                    var total = '';
//                    var html = '';
//                    var total_sn = '';
//                    for (var i = 0; i < data.list.length; i++) {
//                        html += '<tr><td>'+data.list[i]['nickname']+'</td>'
//                                + '<td>'+data.list[i]['phone']+'</td>'
//                                + '<td>'+data.list[i]['brand_name']+'</td>'
//                                + '<td>'+data.list[i]['sn_no']+'</td>'
//                                + '<td>'+data.list[i]['amount']+'</td>'
//                                + '<td>'+data.list[i]['fee']+'</td>'
//                                + '<td>'+data.list[i]['balance']+'</td>'
//                                + '<td>'+data.list[i]['create_time']+'</td>'
//                        <?php if(!isset($user['parent_id'])): ?>
//                        if(data.list[i]['res']=="成功"){
//                            html += '<td>已验证</td>'
//                        }else{
//                            html += '<td id="checkRecord'+data.list[i]['id']+'"><a onclick="checkRecord('+data.list[i].id+')">验证</a></td>'
//                        }
//                        <?php endif; ?>
//
//
//                               html += '<td>'+data.list[i]['res']+'</td>'
//                                + '<td>'+data.list[i]['msg']+'</td></tr>'
//
//                    }
//                    $("#import_records_data_table_thead").html(title);
//                    $("#import_records_data_table_tbody").html(html);
//                    //配置Datatable
//                    DatatableAjax('importRecords','7');
//                    $(".buttons-excel").css('color','#1EB395');
//                    $(".buttons-excel").css('background','none');
//                    $(".buttons-excel").css('border','0');
//                    $(".buttons-excel").css('font-size','18px');
//                    $(".buttons-excel").css('margin-top','-10px');
//                    $(".buttons-excel").css('margin-bottom','0px');
//                    $(".buttons-excel").css('margin-left','-200px');
//                    $(".buttons-excel").html('导出到Excel');
//                    $("#reportrange").css('margin-top','3px');
//                    $("#reportrange").css('margin-left','50px');
//                    $("#pos_apply_length").css('margin-left','50px');
//
//                }else{
//                    alert('暂无更多消费记录数据');
//                    $("#import_records_data_table_thead").html(title);
//                }
//            }   ,
//            //调用出错执行的函数
//            error: function(){
//                //请求出错处理
//                alert('加载页面图表数据出错');
//            }
//        });
//    }
    function GetImportRecords(date,where,condition) {
                if ($('#importRecords').hasClass('dataTable')) {
            table = $('#importRecords').dataTable();
            table.fnClearTable(); //清空一下table
            table.fnDestroy(); //还原初始化了的datatable
        }
//        DatatableAjax('importRecords', '7',date);
        table =$('#importRecords').DataTable( {

            "iDisplayLength" : 20, //默认显示的记录数
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                },

            },
            autoWidth: false, //禁用自动调整列宽
            stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true, //隐藏加载提示,自行处理
            serverSide: true, //启用服务器端分页
            searching: false, //禁用原生搜索
            orderMulti: false, //启用多列排序
            renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
            pagingType: "full_numbers", //分页样式：simple,simple_numbers,full,full_numbers
            columnDefs: [{
                "targets": 'nosort', //列的样式名
                "orderable": false //包含上样式名‘nosort'的禁止排序
            }],
            ajax: function (data, callback, settings) {
                //封装请求参数
                var param = {};
                param.limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.start = data.start;//开始的记录序号
                param.page = (data.start / data.length)+1;//当前页码
                param.date = date;//默认时间为全部
                param.where = where;
                param.condition = condition;
                //console.log(param);
                //ajax请求数据
                $.ajax({
                    type: "post",
                    url: "ImportRecords",
                    cache: false, //禁用缓存
                    data: param, //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        //console.log(result);
                        //setTimeout仅为测试延迟效果
                        setTimeout(function () {
                            //封装返回数据
                            var returnData = {};
                            returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                            returnData.recordsTotal = result.total;//返回数据全部记录
                            returnData.recordsFiltered = result.total;//后台不实现过滤功能，每次查询均视作全部结果
                            returnData.data = result.list;//返回的数据列表
                            //console.log(returnData);
                            //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                            //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                            callback(returnData);
                        }, 200);
                    }
                });
            },
            //列表表头字段
            columns: [
                { "data": "nickname" },
                { "data": "phone" },
                { "data": "brand_name" },
                { "data": "sn_no" },
                { "data": "amount" },
                { "data": "fee" },
                { "data": "balance" },
                { "data": "create_time" },
                { "data": "res_info" },
                { "data": "res" },
                { "data": "msg" },

            ],
            "order": [[ 7, "desc" ]],
            buttons: [
                'excel'
            ],
            "dom":
            "<<'div9'l<'#mytoolbox'>Bfrtip><'div3'f>r>"+
            "",
            initComplete:initComplete

        });
        $(".buttons-excel").css('color', '#1EB395');
        $(".buttons-excel").css('background', 'none');
        $(".buttons-excel").css('border', '0');
        $(".buttons-excel").css('font-size', '18px');
        $(".buttons-excel").css('margin-top', '-10px');
        $(".buttons-excel").css('margin-bottom', '0px');
        $(".buttons-excel").css('margin-left', '-200px');
        $(".buttons-excel").html('导出到Excel');
        $("#reportrange").css('margin-top', '3px');
        $("#reportrange").css('margin-left', '50px');
        $("#pos_apply_length").css('margin-left', '50px');
    }
    function initComplete(data) {
        var dataPlugin =
                '<div id="reportrange" class="pull-left dateRange" style="width:400px;margin-left: 10px"> '+
                '日期：<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> '+
                '<span id="searchDateRange"></span>  '+
                '<b class="caret"></b></div> ';
        $('#mytoolbox').append(dataPlugin);
        //时间插件

        $('#reportrange span').html('请选择时间');
        //配置DateRangePicker
        DaterangepickerConfig('reportrange');

        $(".daterangepicker").find("li").each(function (){
            if($(this).hasClass("active")){
                $(this).removeClass("active");
            }
            if(dateOption==$(this).html()){
                $(this).addClass("active");
            }
        });

        //选择时间后触发重新加载的方法
        $("#reportrange").on('apply.daterangepicker',function(){
            start_date = $('#beginTime').val()
            start_end = $('#endTime').val();
            where = start_date + ','+start_end;
            GetImportRecords(where);

        });
    }

    function checkRecord(id){
        var td_id = $('#checkRecord'+id).parent();
        $.ajax({
            //提交数据的类型 POST GET
            type:"post",
            //提交的网址
            url:"{:U('checkRecords')}",
            data:{id:id},
            //提交的数据
            //返回数据格式
            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
            //在请求之前调用的函数
            beforeSend:function(){$("#msg").html("logining");},
            //成功返回之后调用的函数
            success:function(data){
                if(data.code == 200)
                {
                    td_id.html('成功');
                }else{
                    alert(data.msg);
                }
            }   ,
            //调用出错执行的函数
            error: function(){
                //请求出错处理
                alert('加载页面图表数据出错');
            }
        });
    }
    $('#search').click(function(){
        var wheres =  $('#where').val();
        var conditions =  $('#conditions').val();
        GetImportRecords('all',wheres,conditions);
    })
</script>

</body>
</html>


