<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--360浏览器优先以webkit内核解析-->
    <meta name="renderer" content="webkit">

    <title>后台首页</title>


    <link href="/Public/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/Public/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/Public/css/animate.min.css" rel="stylesheet">
    <link href="/Public/css/style.min.css?v=3.0.0" rel="stylesheet">
    <link href="__PUBLIC__/qwadmin/css/extra.css" rel="stylesheet"/>

</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span class="label label-danger">注意</span> 有问题及时联系客服
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Public/js/jquery-2.1.1.min.js"></script>
    <script src="/Public/js/bootstrap.min.js?v=3.4.0"></script>
    <script src="/Public/js/plugins/layer/layer.min.js"></script>

    <!-- 自定义js -->
    <script src="/Public/js/content.min.js"></script>

</body>

</html>